.LogoSearch {
  display: flex;
  align-items: center;
}

.LogoSearch img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  margin-right: 10px;
}

.Platform_Name {
  font-family: 'Arial', sans-serif; /* Use a clean, modern font */
  font-size: 24px; /* Adjust size as needed */
  font-weight: bold;
  background: linear-gradient(106.23deg, #f99827 0%, #f95f35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
}
